<!-- eslint-disable @angular-eslint/template/elements-content -->
<app-dashboard-navbar>
  <div class="flex flex-col gap-3 justify-center items-center">
    <div class="w-full h-full">
      <!-- <p-card styleClass="shadow-xl"> -->
      <div class="card">
        <h1 class="text-lg text-center">¿Con qué puedo ayudarte hoy?</h1>
        <div
          class="flex flex-row gap-2 bg-[#676767] px-3 py-1 border-round-3xl border-0">
          <button
            pButton="pButton"
            class="border-0 bg-transparent text-white text-xl"
            icon="pi pi-microphone"></button>
          <form
            [formGroup]="newChatForm"
            (ngSubmit)="newChat()"
            class="flex flex-row w-full bg-[#676767] p-1 border-round-3xl border-0">
            <input
              type="text"
              placeholder="Escribe tu consulta..."
              formControlName="search"
              class="w-full bg-transparent border-0 text-white p-1 border-round-3xl" />
            <!-- disabled -->
            <button
              pButton="pButton"
              [disabled]="!newChatForm.valid"
              [loading]="loading"
              class="border-0 bg-white text-black hover:bg-gray-300 disabled:bg-gray-100 border-round-3xl"
              icon="pi pi-arrow-up"></button>
          </form>
        </div>
      </div>
      <!-- </p-card> -->
    </div>
  </div>
</app-dashboard-navbar>
